$primary-color: #403D3C; //navbar
$secondary-color: #A69C9A; //about me text
$third-color: white; //text in navbar
$fourth-color: #403D3C; //header


// dark color #403D3C 
// light color #A69C9A


html, body {
  font-size: 40px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif !important;
  width: 100%;
  height: 100%;
}

/* Navigation Bar */

.navbar-custom {
  background: transparent;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  height: 68px;
  .container{
    margin-top: -13px;
  }
  a:focus {
    outline: none;
  }
  .navbar-brand {
    color: $primary-color;
    margin-top: -2px;
  }
  .navbar-nav {
    letter-spacing: 1px;
    margin-top: -1px;
    li {
      a {
        color: $primary-color;
        &:hover {
          outline: none;
        }
        &:focus,
        &:active {
          color: rgb(220, 220, 220);
        }
      }
      &.active {
        a {
          color: $third-color;
          background: $secondary-color;
          &:hover,
          &:focus,
          &:active {
            color: $third-color;
            background: $secondary-color;
          }
        }
      }
    }
  }
  .navbar-toggle {
    color: $primary-color;
    text-transform: uppercase;
    font-size: 10px;
    border-color: $primary-color;
    &:hover,
    &:focus {
      background-color: $third-color;
      opacity: 0.8;
    }
  }
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 25px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
      .navbar-brand {
          font-size: 2em;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s;
      }
    }
    .navbar-custom.affix {
        padding: 10px 0;
    .navbar-brand {
        font-size: 1.5em;
    }
  }
}

@media(max-width:768px) {
    .navbar-custom {
        padding: 25px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
      .navbar-brand {
          font-size: 2em;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s;
      }
    }
    .navbar-custom.affix {
        padding: 10px 0;
    .navbar-brand {
        font-size: 1.5em;
    }
  }
}

/* Header */

header {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 5px;
  color: #fff;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../images/bgE.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  .text-vertical-center{
    vertical-align: middle;
    h1 {
      margin: 0 auto;
      padding-top: 25%;
      text-align: center;
      font-size: 4.5em;
      font-weight: 700;
    }

  }
}

@media(max-width:768px) {
  header {
    .text-vertical-center{
        padding-top: 200px;
        padding-bottom: 100px;
      h1 {
        font-size: 3em;
        margin-top: 20px;
      }
      h3 {
        font-size: 1em;
      }
    }
  }
}

/* About */

section {
    padding: 100px 0;
    h2 {
      margin: 0;
      font-size: 3em;
      text-transform: none;
    }
}

section.about {
  background: $primary-color;
  color: $third-color;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 1px;
  h2 {
    margin-top: 5%;
  }
  p {
      font-size: 18px;
  }
  .btn {
    color: $third-color;
    font-size: 18px;
    margin-top: 1px;
    &.viewResume {
      color: #FF9AD6;
      &:hover {
        background-color: #FF9AD6;
      }
    }
    &:hover {
      color: $primary-color;
      background-color: rgb(220, 220, 220);
    }
  }
}


@media only screen and (min-width: 767px) and (max-width: 1200px) {
  section.about {
    h2 {
      margin-top: 40%;
    }
  }
}

@media(max-width:767px) {
  section {
    padding: 75px 0;
  }
  section.first {
    padding-top: 75px;
  }
}

a,
a:hover,
a:focus,
a:active,
a.active {
  color: $secondary-color;
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight: 700;
}

.img-centered {
  margin: 0 auto;
}

/* Portfoloio */

#portfolio {
    padding: 0;
    .portfolio-item {
        margin: 0 !important;
        right: 0;
        padding: 0;
        .portfolio-link {
            display: block;
            position: relative;
            // max-width: 400px;
            margin: 0 auto;
            .caption {
                background: fade($secondary-color, 90%);
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: all ease 0.5s;
                -webkit-transition: all ease 0.5s;
                -moz-transition: all ease 0.5s;
                &:hover {
                    opacity: 0.9;
                    background-color: $third-color;
                }
                .caption-content {
                    position: absolute;
                    width: 100%;
                    height: 20px;
                    font-size: 20px;
                    text-align: center;
                    top: 40%;
                    margin-top: -12px;
                    padding: 0 15px 0 15px;
                    color: $primary-color;
                    i {
                        margin-top: -12px;
                    }
                    h3,
                    h4 {
                        margin: 0;
                    }
                }
            }
        }
    }
    * {
        z-index: 2;
    }
}

@media(min-width:767px) {
    #portfolio {
        .portfolio-item {
            margin: 0 0 30px;
        }
    }
}

@media only screen and (min-width: 700px) and (max-width: 1000px) {
  #portfolio {
    .portfolio-item {
      .portfolio-link {
        .caption {
          .caption-content {
            font-size: 14px;
          }
        }
      }
    }
  }
}


/* Footer */

footer {
  font-size: 12px;
  background-color: $third-color;
  color: $primary-color;
  padding-bottom: 5px;
  ul {
    padding-top: 12px;
    a {
      color: $primary-color;
    }
    a:hover{
      color: $secondary-color;
    }
  }
}

/* Portfolio Modals */

#portfolioModal5 {
  h2 {
    text-transform: none;
  }
}
.portfolio-modal {
  .modal-content {
      border-radius: 0;
      background-clip: border-box;
      -webkit-box-shadow: none;
      box-shadow: none;
      border: none;
      min-height: 100%;
      padding: 100px 0;
      text-align: center;
      background-color: rgba(255,255,255,0.9);
      margin-right: -17px;
    h2 {
        margin: 0;
        font-size: 2em;
    }
    .modal-img {
      display: inline-block;
      margin-top: 5px;
        img {
        margin-bottom: 30px;
        margin-top: 10px;
        display: inline-block;
      }
        .img1 {
          float: left;
          width: 73%;
        }
        .img2 {
          width: 22%;
          float: right;

        }
    }
    .singlePic {
      margin-bottom: 30px;
      margin-top: 10px;
    }
    .item-details {
      margin: 30px 0;
      a {
        text-decoration: none;
      }
    }
  }
    .close-modal {
        position: absolute;
        width:75px;
        height:75px;
        background-color: transparent;
        top: 25px;
        right: 25px;
        cursor: pointer;
        &:hover {
            opacity: 0.3;
        }
        .lr {
            height:75px;
            width:1px;
            margin-left:35px;
            background-color:$primary-color !important;
            transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            /* IE 9 */
            -webkit-transform: rotate(45deg);
            /* Safari and Chrome */
            z-index:1051;
            .rl {
                height:75px;
                width:1px;
                // margin-left: 35px;
                background-color:$primary-color !important;
                transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                /* IE 9 */
                -webkit-transform: rotate(90deg);
                /* Safari and Chrome */
                z-index:1052;
            }
        }
    }
    .modal-backdrop {
      opacity: 0;
      display: none;
    }
}

@media (min-width: 992px) {
  .modal-content {
    .container {
      width: 1000px;
    }
  }
}

// @media only screen and (max-width:900px) and (min-width: 253px) {
//  .modal-content {
//   margin-right: -17px;
//  }
// }